body {
    background: #21252b;
    color: #333;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    maring: 0;
}
 
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 16px;
    outline: none;
}
 
 button {
    border: 0;
    padding: 10px;
}
 
.mainDiv {
    background: #fff;
    padding: 20px;
    /*width: 90%;*/
    margin: 0px auto;
    margin-top: 50px;
    box-shadow: 0 0 20px #333;
}
/*! New Css Begin */
@media (min-width:1262px){
    .mainDiv{
        width: 50% !important;
    }
}
@media (max-width:1262px) and (min-width:900px){
    .mainDiv{
        width: 60% !important;
    }
}
@media (max-width:899px) and (min-width:767px){
    .mainDiv{
        width: 70% !important;
    }
}
@media (max-width:766px) and (min-width:600px){
    .mainDiv{
        width: 80% !important;
    }
}
@media (max-width:600px) and (min-width:401px){
    .mainDiv{
        width: 90% !important;
    }
}
@media (max-width:400px){
    .mainDiv{
        width: 96% !important;
    }
}
.padding-35{
    padding-left: 35px !important;
}
.main-category{
    background: aliceblue;
}
.btn-group{
    margin: 5px auto;
}
 /*! New Css end */
h1 {
    font-weight: 300;
    font-size: 24px;
}
 
textarea {
    border: none;
    background: #fff;
    padding: 20px 0px;
    outline: none;
    width: 100%;
    resize: none;
    border-bottom: 1px dashed #ccc;
}
input {
    border: none;
    border-bottom: 1px dashed #ccc;
    /*border: 0px;*/
    background: #fff;
    padding: 20px 0px;
    outline: none;
    width: 100%;
    resize: none;
}
select {
    border: none;
    border-bottom: 1px dashed #ccc;
    /*border: 0px;*/
    background: #fff;
    padding: 20px 0px;
    outline: none;
    width: 100%;
    resize: none;
}
 
button {
    background: #528bff;
    color: #fff;
    position: relative;
    top: 50px;
    width: 54px;
    height: 54px;
    line-height: 38px;
    border-radius: 100%;
}
.goback-button {
    background: #528bff;
    color: #fff;
    position: relative;
    top: 50px;
    width: 64px;
    height: 64px;
    line-height: 38px;
    border-radius: 100%;
    border: 0;
    padding: 10px;
    text-align: center;
    float: left;
}
.btn .glyphicon-trash{
    font-size: 13px;
}
.btn .glyphicon-pencil{
    font-size: 13px;
}
/*.sweet-alert button {*/
    /*background-color: #8cd4f5;*/
    /*color: white;*/
    /*border: 0;*/
    /*box-shadow: none;*/
    /*position: initial !important;*/
     /*width: auto !important;*/
    /*font-size: 14px;*/
    /*font-weight: 500;*/
    /*-webkit-border-radius: 4px;*/
    /*border-radius: 5px;*/
    /*padding: 10px 10px;*/
    /*margin: 0px 4px 20px 5px;*/
    /*cursor: pointer;*/
/*}*/
/*.sweet-alert button.cancel,button.cancel:hover {*/
    /*background-color: #d9534f !important;*/
/*}*/
.swal2-buttonswrapper button{
    margin: 5px 5px;
    width: auto;
    position: initial !important;
}

.js div#u-loader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: rgba(255, 255, 255, 0.77) url(img/loading-animation.gif) no-repeat center center; }
.row-detail-extra{
    border-top: 1px dashed #e6e6e6;
    margin-top: 7px;
    padding-top: 7px;
}